/* --global-- */
:root {
   --white: #fff;
   --blueberry: #050542;
   --turquoise: #66e5bf;
   --lavender: #a675f5;
   --attention: #050542;
   --attention-background: #05054233;
   --call-to-action: #fffc86;
   --rounded: .4rem;
   --pilled: 1.4rem;
   --shadow: .3rem;
   --border: .15rem;
}
* {
   box-sizing: border-box;
}
body{
   margin: 1rem; 
   padding: 0;
   font-family: "Open Sans", sans-serif;
   font-size: 1.2rem;
   line-height: 1.4;
   background: var(--blueberry);
   color: var(--white);
}
h1{

}
h2{
   font-size: 2rem;
   font-weight: 400;
}
ul{
   list-style: none;
   padding: 0;
}
ol{
   list-style: none;
}
a{
   color: var(--turquoise);
}
a:hover, a:active{
   background: var(--turquoise);
   color: var(--blueberry)
}

/* SECTIONS */
section, footer{
   padding: 1rem;
   margin-bottom: 2rem;
}
nav{

}
nav h2{

}
#intro{
   max-width: 40rem;
}
#gedragscriteria{
   max-width: 25rem;
}
#leertaken{
   max-width: 25rem;
}
#leertaken ul{
   list-style: disc;
   padding-left: 1rem;;
}
#sprintplanning{

}
#sprintplanning th,#sprintplanning td{
   background: var(--turquoise);
   color: var(--blueberry);
   display: inline-block;
   width: 100%;
   padding: 0.5rem;
}
footer{

}



/* CLASSES */
.green-on-blue{
   background: var(--turquoise);
   color: var(--blueberry);
}
.green-line-on-blue{
   /* background: var(--turquoise); */
   border: solid var(--turquoise) var(--border);
   color: var(--turquoise);
}
.white-line-on-blue{
   /* background: var(--turquoise); */
   border: solid var(--white) var(--border);
   color: var(--white);
}
.white-line-on-blue a{
   color: var(--white);
}
.purple-on-blue{
   background: var(--lavender);
   color: var(--blueberry);
}
.active{
   background: var(--call-to-action);
   color: var(--blueberry);
}
.rounded{
   border-radius: var(--rounded);
  }
.pilled{
 border-radius: var(--pilled);
}
.shadow{
   box-shadow: var(--shadow) var(--shadow);
  }

  /* MEDIA QUERIES */
@media (min-width: 45rem){
   body{
      /* background: pink; */
   }
   #gedragscriteria, #leertaken{
      display: inline-block;
      width: 48%;
      vertical-align: top;
   }
}