@font-face {
    font-family: "DM Sans";
    src: url('../assets/fonts/DMSans/DMSans_24pt-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Crimson text";
    src: url('../assets/fonts/CrimsonText/CrimsonText-Regular.ttf')format('truetype');
}

:root {
    --primary-yellow: #F2A900;
    --primary-light-yellow:#FDF2D9;
    --primary-black: #000;
    --primary-white:#fff;

    --gray-light: #C8C9C7;
    --gray-regular:#75787B;
    --gray-dark:#53565A;

}


body{
    margin: 0 auto;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;  
    flex-wrap: nowrap;
    gap: 5em

}

header {
    background-color: #FFF;
    height: auto;
    display: block;
    box-shadow: 0em 0em 1em #00000043;
    margin: 0 auto;
}

header img { 
    margin: 1em;
    height: 2.2em;
    width: auto;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, button{ 
    font-weight: 700;
    font-family: "DM Sans";

}

p {
    font-family: "Crimson text";
}

ul {
    font-family: "DM sans";
}

button {
    border-radius: 0;
    border-style: none;
    padding: 1em;
}

button:hover {
    box-shadow: 0em 0em 1em var(--gray-dark);
    transition-duration: .3s;
    transition-delay: .1s;

}

.underline {
    border-bottom: solid .2em var(--primary-yellow);
    /* text-decoration: underline var(--primary-yellow) solid .2em ; */
}

/* section heading */
.heading-content  {
    background-color: var(--primary-light-yellow);
    width: 100%;

}

.heading-content div {
    display: block;
    padding: 3em;
    margin: 0 auto;
    width: 100%; /* Add this line */
    max-width: fit-content;
}

.heading-content button {
 text-align: left;
 background-color: var(--primary-yellow);
 cursor: pointer;
}

.heading-content img {
    width: inherit;
    display: none;
    width: 100%
}

/* section heading */






/* section info-longread */
.info-longread {
    padding: 0 2em 0 2em;
}

.info-longread > article {
    margin-bottom: 3em;
}
.info-longread p {
    max-width: 30em;
}

.info-longread ul {
    padding-inline-start: 0em;
    list-style: none;
    
}

.info-longread ul li {
    padding-left: 2em;
    background: url("../assets/icons/check-icon.svg") no-repeat left center;
    background-size: 1em;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/* section info-longread */






/* section form */

.download-form {
    display: flex;
    justify-content: center
}

.download-form > div {
    padding: 2em;
    background: var(--gray-light);
    height: 30em;
    width: 20em;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.download-form-input {
    z-index: 1;
    position: absolute;
}
.download-form-input input{
    height: 3em;
    font-family: "DM Sans";
    padding-block: .5em;
    padding-inline: 1em;
}

.download-form-input label {
    display: flex;
    flex-direction: column;
    font-family: "DM sans";
    gap:0em;
}

.download-form button {
    display: flex;
    flex-direction: column;
    margin: .8em 0 .8em 0;
    align-items: center;
    background: var(--primary-yellow);
    width: 100%;
    height: auto;
    cursor: pointer;
}

.download-form .form-privacy {
    background: var(--primary-light-yellow);
}


/* js green form */
.download-form-input .download-form-input-complete {
    background-color: #38ff2639;
}





/* completed form */

/* fade-in animatie */

.download-form .download-form-complete {
    background: var(--primary-yellow);
    position: absolute;
    z-index: 2;
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}
.download-form .download-form-complete-add {
    display: inherit;
    opacity: 0;
}

.download-form .download-form-complete-in {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: .3s;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}    
}

.download-form .download-form-complete-show {
    display: inherit;
    opacity: 1;
}

/* fade-in animatie */

.download-form-complete article {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    
}

.download-form-complete h2 {
    font-size: 3em;
    margin-block-start: 1em;
    margin-block-end: 0em;
}

.download-form-complete p {
    font-size: 2em;
    margin-block-start: .3em;
    margin-block-end: .3em;
    display: block;
}


.download-form-complete a,
.download-form-complete a:link,
.download-form-complete a:active,
.download-form-complete a:visited {
    cursor: pointer;
    font-family: "DM Sans";
    text-decoration: none;
    background: var(--primary-black);
    padding: .3em;
    color: var(--primary-light-yellow);
    line-height: 3em;
    font-size: .6em;
}




/* section form */








footer {
    padding: 2em;
}

@media (min-width: 800px )  {


    .heading-content {
        background: var(--primary-light-yellow);
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: center;    
    }

    .heading-content img {
        display: block;
    }

    .download-form div {
        height: 30em;
        width: 40em;
    }

    .download-form .form-privacy  {
        text-align: right;
        width: fit-content;
        font-size: .8em;
    }
}


